In [ ]:
### Exercise 1
my_name = 'Mirna'
print(my_name)

In [ ]:
### Exercise 2
age = 92
print(age)

In [ ]:
### Exercise 3
julia_age = 32
age_diff = age- julia_age
print(age_diff)

In [ ]:
### Exercise 4 
if age > 21:
    print('you are older than 21')
else:
    print('you are not older than 21')

In [ ]:
### Exercise 5
if age > julia_age:
    print('Im older than Julia')
elif age == julia_age:
    print('Julia is the same age as me')
else:
    print("I'm older than Julia")

In [46]:
### Exercise 6 >>> Create a list with all the names of your class (including mentors). Sort the list alphabetically. Then print the first element of the list. On the next line,
#  print the last element of the list. On the next line, print all the elements of the list (use a "for" loop). Save the file and run the cell.
#  You should see the first element of the sorted list, the last element of the sorted list,
#  and all the elements in order in the list.
mintgreen_oss = ['Ottavia', 'Yana', 'Monica', 'Sandra', 'Ursula', 'Mirna', 'Killian']
mintgreen_oss.sort()
print(mintgreen_oss[0])

Killian

In [ ]:
for name in mintgreen_oss:
    print(name)

In [81]:
### Exercise 7
ages = [30, 32, 39, 45]
for x in ages:
   if x% 2 == 0:
    print(x)

30
32

In [82]:
len(ages)

4

In [83]:
,
num = 0

while num < len(ages):
    if ages[num] % 2 == 0:
        print(ages[num], end=" ")
    num += 1 #mndif 1 m3 kl lffe

30 32

In [31]:
### Exercise 8
list1 = [10, 5, 8, 87, 60]
min(list1)

5

In [60]:
list1
list1.sort()
list1[0:-1]

[5, 8, 10, 60]

In [35]:
### Exercise 9
list1.sort()
print('the smallest num is:', list1[0])

the smallest num is: 5

In [50]:
### Exercise 10
from datetime import date
date1= date.today().year
customers = [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]


for x in customers:
    print('age of customer', date1-x)

age of customer 23
age of customer 27
age of customer 17
age of customer 12
age of customer 15
age of customer 16
age of customer 28
age of customer 26
age of customer 43
age of customer 14

In [67]:
a = {"name": "Bob", "age": 1999}

In [68]:
a

{'name': 'Bob', 'age': 1999}

In [71]:
for key, value in a.items():
    print(value)

Bob
1999

In [84]:
### Exercise 11
customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]
            
from datetime import date
date1= date.today().year

for person in customer_list:
    print(person['name'], 'is' , date1-person['age'])

Bob is 23
Jack is 27
Lisa is 17
Maria is 12
Ben is 15
Emma is 16
Oscar is 28
Amy is 26
Paul is 43
Etta is 14

In [6]:
### Exercise 12 >> Given a list of ages, remove the youngest and the oldest person.
ages12 = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]

ages12.sort()
print (ages12[1:-1])

[11, 12, 13, 14, 20, 23, 24, 25]

In [76]:
### Exercise 13 >> You have two lists with ages of customers from different cities.The task is to create an other list with the common ages.
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]
y = []
for x in berlin:
    if x in munich:
        y.append(x)
print(y)

[15, 13, 16, 18, 19, 10]

In [85]:

### ex 13 app 2 comprehension read about it
common = [num for num in berlin if num in munich]
print(common)

[15, 13, 16, 18, 19, 10]

In [11]:
### Exercise 14 >>> You have a list with ages.Remove the duplicates.
hey = [15,13,16,18,19,15,10]
hey = list(set(hey))
print(hey)

[10, 13, 15, 16, 18, 19]

In [30]:
### Exercise 15 >>> Write a function that works like below:
#Function name: welcome
#welcome('Evelyn') would print- 'Welcome Evelyn, have a nice day!'
#welcome('Jost'), it would print - 'Welcome Jost, have a nice day!'
def welcome(name):
    print(f'welcome {name}, have a nice day!')
       
welcome('Evelyn')
welcome('Jost')

welcome Evelyn, have a nice day!
welcome Jost, have a nice day!

In [86]:
### Exercise 16 >>> Write a function that takes a string as input and calculates the length.

#Function name: get_length
#get_length('Hello') would print / return 5.
#get_length('Hi') would print / return 2.
def get_length(s):
    output= s + ''
    return(output, len(output) )


get_length('Hello')

('Hello', 5)

In [56]:
### Exercise 17 >>> Write a function which checks whether a number is even.

#Hint: Think about the modulus operator
#Function name: check_even
#check_even(6) would print / return 'Yes'
#check_even(5) would print / return 'No'
def check_even(a):
    if a % 2 == 0:
        return('Yes')
    else:
        return('No')

check_even(6)
check_even(5)

'No'

In [79]:
### Exercise 18 >>> Rewrite exercises 11, 12, 13, 14, 15 in a function. >>>>sh#% :)<<<<
# Ex 11 
customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]
            
from datetime import date
date1= date.today().year

for person in customer_list:
    print(person['name'], date1-person['age'])

Bob 23
Jack 27
Lisa 17
Maria 12
Ben 15
Emma 16
Oscar 28
Amy 26
Paul 43
Etta 14

In [77]:
### Exercise 19 >>> Write a function that takes an input list and value of age to find as input and return true or false if the age value is present or not in the list.
x = [12,18,35,50]
def function(y):
    if y in x:
        return('Yes')
    else:
        return('No')

function(15)

'No'